
<h3>Αναζήτηση αγγελιών</h3></br>

<%=form_for @asearch do |f|%>
<%= f.label :subject_contains, 'Να περιέχει στο θέμα' %>
<%= f.text_field :subject_contains %>
<%= f.label :subject_contains,'Με ημερομηνία υποβολής μετά από' %>
<%= f.datetime_select :created_at_greater_than %>
  <p>
    <%= f.label :bidmax_gte, "Price ranges from" %>
    <%= f.text_field :bidmax_gte, :size => 8 %>
    <%= f.label :bidmax_lte, "to" %>
    <%= f.text_field :bidmax_lte, :size => 8 %>
  </p>
<%= f.label :subject_contains, 'Κατηγορία' %>
<%= f.collection_select :category_id_equals, Category.all, :id, :name, :include_blank => true %>
</br>
<%= f.submit "Αναζήτηση", :class => 'btn btn-success' %>
<%end%>
